<h1 style="align:center">Phenopacket Scraper </h1>

<form method="POST" action=".">
	{% csrf_token %}
	Url : <input type ='text' name='url' value=''> <br>	
			Scrape<input type="radio" name="choice" value='1' /> &nbsp;
			Annotate<input type="radio" name="choice" value='2' /> &nbsp;
			Phenopacket<input type="radio" name="choice" value='3' /> &nbsp;

<br>
		<tr> 
			<th><button type="submit" align="center">submit</button></th>
		</tr> 

<br>
{% if data %}
{% for k in data %}
	{{k}}
	<br> <br> <br>
{% endfor %}
{% else %}

{% endif %}

	</form>