{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Material Design fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Bootstrap Material Design -->
  
  <!-- <link href="{% static 'main/css/bootstrap-theme.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'main/css/bootstrap-material-design.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/ripples.min.css' %}" rel="stylesheet">
  <!-- Dropdown.js -->
  <link href="//cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- Page style -->


  <!-- jQuery -->



	

	<title></title>
</head>
<body>



<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Phenopacket Scraper</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="javascript:void(0)">Home</a></li> -->
        <li><a href="javascript:void(0)">Home</a></li>
        <li><a href="javascript:void(0)">About</a></li>        
        <li class="dropdown">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Logout</a></li>
        
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="container" > 
  <div class="row">
    <div class="col-md-5">
      <div class="well">
      <form id="pps">
        {% csrf_token %}
<!--       <div class="form-group label-floating">
        <label for="i5i" class="control-label">Email address default size</label>
        <input type="email" class="form-control" id="i5i">
        <span class="help-block">Please enter a valid email address</span>
      </div> -->

<div class="form-group label-floating is-empty">

            <label class="control-label" for="url">Enter Url</label>
            <div class="input-group">
              <input name="url" type="text" id="url" class="form-control">
              <span class="input-group-btn">
                <button type="button" class="btn btn-fab btn-fab-mini">
                  <i class="material-icons">add</i>
                <div class="ripple-container"></div></button>
              </span>
            </div>
          </div>

<div class="form-group">
  <md-radio-group layout="row">
  <div class="radio">
    <label>
      <input type="radio" name="choice" value="1" checked="">
      Scrape
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="choice" value="2">
      Annotate
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="choice" value="3">
      Phenopacket
    </label>
  </div>

</div>

        <br>
        <button type="submit" class="btn btn-primary">Submit<div class="ripple-container"></div></button>


      </form>
      </div>

    </div> 
    <div class="col-md-7">
      <div class="well">
      <h2> Output </h2>
      <pre id="output">
        
       </pre>
      </div>
    </div>
  </div>
</div>




<script src="{% static 'main/js/ripples.js' %}"></script>
<script src="{% static 'main/js/material.min.js' %}"></script>
<script>
  $.material.init();
</script>

<script type="text/javascript">

  function collect_data() {
        var data = new FormData() ;
        data.append('url', $('input[name="url"]').val());
        data.append('choice', $('input:radio[name="choice"]:checked').val());
        return data;
    }


    $("form#pps").submit(function(e) {
        e.preventDefault();
        var data = collect_data();
        console.log(data)
        $.ajax({
            url: '.',
            type: 'POST',
            data: data,
            cache: false,
            // dataType: 'html',
            processData: false,
            contentType: false,
            success: function(response)
            {
                console.log(response);
                $("#output").html(response);
            }
        }); 
      })

</script>


</body>
</html>
